
body {
	font-family: Calibri;
}

#footer {
    color: white;
}

#gacha-logo {
    color: black;
}

#gacha-poweredby {
    color: black;
}

#gacha-nav-brand {
    color: white;
    font-size: 15pt;
}

#monster_view {
    position: relative;
}

.monster_view_default {
    position: absolute;
    visibility: hidden;
}

.monster_view_gacha {
    position: absolute;
    visibility: hidden;
}

.monster_view_roulette {
    position: absolute;
    visibility: hidden;
}

.monster_view_search {
    position: absolute;   
    visibility: hidden;
}

.monster_view_search input{
    width: 150px;
    margin-bottom: 10px;
}

.monster_view_active {
    visibility: visible;
}

.monster_img {
    width: 50px;
}

.under_construction {
    color: red;
}

.monster_footer {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.monster_footer .monster_logo img {
     width: 18px;
    height: 18px;
}


/*
.monster_profile {
    visibility: hidden;
}

li .monster_profile{
    visibility: hidden;
}

li:hover .monster_profile {
    visibility: visible;
}*/
